<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ChatMapper">
	
	<!-- 유저 리스트 -->
	<select id="getMember" resultType="com.web.db.vo.MemberVO">
		SELECT *
		FROM user_dt
	</select>
 	
 	<!-- 회원가입 검증 -->
 	<select id="checkRegi" parameterType="String" resultType="String">
 		SELECT userId
 		FROM user_dt
 		WHERE userId = #{userId}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="insertMember" parameterType="com.web.db.vo.MemberVO">
 		INSERT INTO user_dt(userId, userPw, name)
 		VALUES(#{userId},#{userPw},#{name})
 	</insert>
 	
 	<!-- 로그인 체크 -->
 	<select id="loginCheck" parameterType="com.web.db.vo.MemberVO" resultType="com.web.db.vo.MemberVO">
 		SELECT *
 		FROM user_dt
 		WHERE userId = #{userId}
 	</select>
 	<!-- 친구 리스트 -->
 	<select id="selectFriendList" parameterType="com.web.friend.vo.FriendVO" resultType="String">
 		SELECT subId
 		FROM friend_dt
 		WHERE mainId = #{mainId}
 	</select>
 	
 	<!-- 룸 쿼리 -->
 	<insert id="insertChatRoom" parameterType="com.web.server.room.vo.Room">
 		INSERT INTO roomChannel
 		VALUES(#{roomCode},#{roomName})
 	</insert>
 	
 	<insert id="AddChatRoom" parameterType="com.web.server.room.vo.Room">
 		INSERT INTO roomUser_dt
 		VALUES(#{userId}, #{roomCode})
 	</insert>
 	
 	<select id="getChatRoom" parameterType="com.web.server.room.vo.Room" resultType="com.web.server.room.vo.Room">
 		SELECT * FROM roomUser_dt
 		WHERE serverCode = #{serverCode} AND userId = #{userId}
 	</select>
 	
 	<!-- 채널 -->
 	<select id="checkSameChannelCode" parameterType="String" resultType="String">
 		SELECT channelCode FROM channel_dt
 		WHERE channelCode = #{channelCode}
 	</select>
 	
 	
 	<insert id="createChatChannel" parameterType="com.web.server.room.vo.Channel">
 		INSERT INTO channel_dt
 		VALUES(#{channelCode},#{channelName})
 	</insert>
 	<insert id="AddChatChannel" parameterType="com.web.server.room.vo.Channel">
 		INSERT INTO ChannelHasUser_dt (channelCode, userId)
 		VALUES(#{channelCode}, #{userId})
 	</insert>
 	<select id="getChatChannel" parameterType="com.web.server.room.vo.Channel" resultType="com.web.server.room.vo.Channel">
 		SELECT * FROM ChannelHasUser_dt
 		WHERE  userId = #{userId}
 	</select>
</mapper>